<div class="container">
  <div class="justify-content-center">
    <h1>Find your next job</h1>
  </div>

  <div class = "sticky-top">
    <%= render "shared/searchbar" %>
  </div>

  <%= render "shared/jobs" %>
</div>
