<div class="text-center" style="padding: 20px;">
  <%= link_to "Back to my profile", user_path(@user), class: "btn btn-primary" %>
</div>

<div class="user-card">
  <%= render "form", user: @user %>
</div>
