<div class="searchbar-container">
  <div class="container-fluid mt-3 text-center">
    <%= form_with(url: search_jobs_path, method: :get, local: true, class: "form-inline d-flex justify-content-center") do |f| %>
      <div class="form-group mr-4">
        <%= f.text_field :job_title, placeholder: "Enter Job Title", class: "form-control-search" %>
      </div>

      <div class="form-group mx-3">
        <%= f.text_field :location,
          placeholder: "Enter Location",
          data: {
            controller: "address-autocomplete",
            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"],
            address_autocomplete_target: "address"
          },
          class: "form-control-search" %>
      </div>

      <div class="ml-4">
        <%= f.submit 'Search', class: 'btn btn-primary mb-2' %>
      </div>
    <% end %>
  </div>
</div>
