<!-- app/views/pages/sign_up.html.erb -->
<div class="container">
  <h1>Join as a...</h1>

  <div class="d-flex justify-content-center gap-4">
    <%= link_to "Job Seeker", new_user_registration_path(role: 'jobseeker'), class: "btn btn-primary" %>
    <%= link_to "Company", new_user_registration_path(role: 'company'), class: "btn btn-secondary" %>
  </div>
</div>
