<turbo-frame id="birthdate">
  <h2>Your birhtdate</h2>

  <%= simple_form_for @user, url: wizard_path, method: :put, data: { turbo_stream: true } do |f| %>
    <%= f.fields_for :jobseeker_profile do |profile_form| %>
      <%= profile_form.input :date_of_birth, as: :date, html: { class: 'form-control' } %>
    <% end %>
    <%= f.submit "Next", data: { disable_with: "Please wait..." } %>
  <% end %>
</turbo-frame>
