<turbo-frame id="wizard-frame">
  <h2>Thank you for signing up</h2>
  <h2>Company Name</h2>

  <%= simple_form_for @user, url: wizard_path, method: :put, data: { turbo_stream: true } do |f| %>
     <%= f.fields_for :company do |company_form| %>
       <%= company_form.input :name %>
     <% end %>
     <%= f.submit "Next", data: { disable_with: "Please wait..." } %>
  <% end %>
</turbo-frame>
