.application-card {
  border: 1px solid lightgrey;
  border-radius: 16px;
  margin: 4px;
  padding-top: 4px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  width: 48%;
  box-shadow: 2px 2px 2px lightgrey;
}

.application-card-header {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  align-items: center;
  margin: 16px 0px;
  padding: 4px 8px;
  border: 1px solid lightgrey;
  border-radius: 16px;
  .application-profile-img {
    width: auto;
    height: 128px;
    border-radius: 16px;
  }
}

.application-card-body {
  margin: 16px 4px;
  padding: 16px 8px;
  border: 1px solid lightgrey;
  border-radius: 16px;
}

.application-card-footer {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
  .btn-apply{
    text-decoration: none;
  }
}
