.job-offer-card {
  border: 1px solid lightgrey;
  border-radius: 16px;
  margin: 4px;
  padding-top: 4px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  box-shadow: 2px 2px 2px lightgrey;
  .offer-salary-box {
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 16px;
    border: 1px solid lightgrey;
    border-radius: 16px;
    h4 {
      margin: 0px;
    }
  }

  .job-card-content {
    span {
      font-size: 16px;
    }
  }

  .job-offer-box {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 16px;
    p {
      font-size: 1rem;
    }
  }
}

.job-offer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 4px 8px;
  border: 1px solid lightgrey;
  border-radius: 16px;
  .job-offer-header-layout {
    display: flex;
  }
}

.favorite-toggle {
  border: none;
  margin: 0px 16px;
  padding: 0px;
  i {
    font-size: 2rem;
  }
  .fa-bookmark {
    color: $deep-dark-blue;
  }
}
.job-offer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  padding-top: 8px;
}
.modal-close {
  font-size: 2rem;
  margin-bottom: 48px;
}
.modal-close:hover {
  color: $deep-dark-blue;
}
